<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Invoice</title>
    <style>
        
    </style>
</head>
<body>
    <h1>ใบชำระเงิน</h1>
    <div>
        <p><strong>เลขที่ใบชำระเงิน:</strong> {{ payment.id }}</p>
        <p><strong>ผู้ใช้:</strong> {{ payment.user }}</p>
        <p><strong>เลขคำสั่งซื้อ:</strong> {{ payment.order.id }}</p>
        <p><strong>จำนวนเงินที่ชำระ:</strong> {{ payment.amount }}</p>

    </div>
</body>
</html>
