{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>สั่งซื้อป้าย</title>
<link rel="stylesheet" href="{% static 'css/order1.css' %}">
</head>
<body>
  {% include 'base/tab_login.html' %}
  {% include 'app/components/site_header.html' %}
<div class="container">
  
  <h2>ข้อมูลป้ายอักษรพลาสวูดที่จะสั่งทำ</h2>
  <form method="post" enctype="multipart/form-data" id="form2" action="{% url 'order5' %}">
    {% csrf_token %}
    <label for="name">ชื่อป้ายอักษรพลาสวูดที่ต้องการ:</label>
    <input type="text" id="name" name="name" placeholder="ชื่อป้าย">

    <label for="category">ขนาดป้าย:</label>
    <select id="category" name="category">
      <option value="15x30">15 x 30 ซม.</option>
      <option value="20x40">20 x 40 ซม.</option>
      <option value="25x50">25 x 50 ซม.</option>
      <option value="30x60">30 x 60 ซม.</option>
      <option value="35x70">35 x 70 ซม.</option>
    </select>
    
    <label for="material">วัสดุป้าย:</label>
    <select id="material" name="material">
      <option value="Acrylic">อะคริลิค</option>
      <option value="PVC">PVC</option>
      <option value="Polystyrene">โพลีสไตรีน</option>
      <option value="Polypropylene">โพลีโปรพิลีน</option>
      <option value="ABS">ABS</option>
    </select>
    

    <label for="message">รายละเอียดป้ายเพิ่มเติม:</label>
    <textarea id="message" name="message" placeholder="Your message"></textarea>

    <label for="attachment">Attachment:</label>
    <input type="file" id="attachment" name="attachment">

    <button type="submit">Order</button>
    
  </form>
</div>

</body>
</html>
